{% block body %}
    <header class="s-header">
        <div class="container s-header__content">

            <div class="s-header__block">
                <div class="header-logo">
                    <a class="logo" href="{{ path('app_home') }}">
                        <img src="/images/logo.png" alt="Homepage">
                    </a>
                </div>
                <a class="header-menu-toggle" href="#0"><span>Сторiнки</span></a>
            </div>

            <nav class="header-nav">
                <ul class="header-nav__links">
                    <li class="{{ app.request.attributes.get('_route') == 'app_home' ? 'current' }}">
                        <a href="{{ path('app_home') }}">Головна</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'app_product' ? 'current' }}">
                        <a href="{{ path('app_product') }}">Замовити шоколад</a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'app_profile' ? 'current' }}">
                        <a href="{{ path('app_profile') }}">Особистий кабiнет</a>
                    </li>
                </ul>

                <div class="header-contact" style="display: flex; align-items: center; gap: 10px;">
                    <div class="cart-container" style="position: relative; cursor: pointer; margin-top: 5px;" id="cart-container">
                        <img src="/images/icons/shopping-bag.png" class="shopping-icon" alt="Shopping Bag" id="cart-icon">

                        <span id="cart-count" class="cart-count-badge">0</span>
                    </div>

                    {% if app.user %}
                        <a href="{{ path('app_profile') }}" class="header-contact__num btn">
                            {{ app.user.name }}
                        </a>
                    {% else %}
                        <a href="{{ path('app_authorization') }}" class="header-contact__num btn">Вхiд</a>
                    {% endif %}
                </div>
            </nav>

        </div>
    </header>
{% endblock %}
